# Environment Configuration Example
PROJECT_NAME=dainik-panchang
PORT=3000
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_LOGO_URL=https://res.cloudinary.com/db6qh4jsv/image/upload/v1788498372/dainik_panchang_vhzo24.png
NEXT_PUBLIC_API_URL=http://localhost:3000/api
